.custom-button {
	min-width: 165px;
	width: auto;
	height: 50px;
	letter-spacing: 0.5px;
	line-height: 50px;
	padding: 0 35px 0 35px;
	font-size: 15px;
	background-color: #d37877;
	color: white;
	text-transform: uppercase;
	font-family: "Open Sans Condensed";
	font-weight: bolder;
	border: none;
	cursor: pointer;
	border-radius: 3px;

	&:hover {
		background-color: white;
		color: #d37877;
		border: 1px solid #d37877;
	}

	&.google-sign-in {
		background-image: url("../../assets/googleSignIn.png");
		background-size: contain;
		min-width: 200px;
		line-height: 0px;
		text-decoration: none;
		background-color: white;
		border-radius: 0px;
		padding: 0px;

		&:hover {
			background-color: white;
			color: #d37877;
			border: none;
			background-image: url("../../assets/googleSignInFocus.png");
		}
	}
}
