.custom-button {
	min-width: 165px;
	width: auto;
	height: 50px;
	padding: 10px 35px 10px 35px;
	font-size: 16px;
	background-color: #d37877;
	color: #fff9e5;
	text-transform: uppercase;
	font-family: "Noto Sans";
	font-weight: bolder;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	justify-content: center;

	&:hover {
		color: #d37877;
		background-color: #fff9e5;
		border: 1px solid #d37877;
	}

	&:focus {
		outline: none;
	}

	&.google-sign-in {
		background-image: url("../../assets/googleSignIn.png");
		background-size: contain;
		min-width: 200px;
		line-height: 0px;
		text-decoration: none;
		background-color: white;
		border-radius: 0px;
		padding: 0px;

		&:hover {
			background-color: white;
			color: #d37877;
			border: none;
			background-image: url("../../assets/googleSignInFocus.png");
		}
	}

	&.inverted {
		background-color: white;
		color: #d37877;
		border: 1px solid #d37877;

		&:hover {
			background-color: #d37877;
			color: white;
			border: none;
		}
	}
}
