.collection-item {
	width: 22vw;
	display: flex;
	flex-direction: column;
	height: 350px;
	align-items: center;
	position: relative;

	.image {
		width: 100%;
		height: 95%;
		background-size: cover;
		background-position: center;
		margin-bottom: 5px;
		border-radius: 4px;
		border: 4px solid #fff9e5;
	}

	.custom-button {
		min-width: 0px !important;
		font-size: 30px;
		line-height: 25px;
		width: 5px !important;
		opacity: 0.7;
		position: absolute;
		top: 5%;
		right: 5%;
		justify-content: center;
		padding-left: 25px;
		padding-right: 25px;
		display: none;
		border-radius: 50px;
		background-color: #fff9e5;
		color: #d37877;

		@media screen and (max-width: 800px) {
			display: flex;
		}
	}

	&:hover {
		.image {
			opacity: 0.8;
		}

		.custom-button {
			opacity: 0.85;
			display: flex;
		}
	}

	@media screen and (max-width: 800px) {
		width: 40vw;

		&:hover {
			.image {
				opacity: unset;
			}

			.custom-button {
				opacity: unset;
			}
		}
	}

	.collection-footer {
		width: 100%;
		height: 5%;
		display: flex;
		justify-content: space-between;
		font-size: 18px;

		@media screen and (max-width: 800px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 5px;
			margin-bottom: 100px;
		}

		.name {
			width: 90%;
			margin-bottom: 15px;
		}

		.price {
			width: 10%;
		}
	}
}
