.cart-icon {
	width: 45px;
	height: 45px;
	margin-left: 5px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	.shopping-icon {
		width: 32px;
		height: 32px;
		margin-right: 2.5px;
	}

	.item-count {
		position: absolute;
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 5px;
	}
}
